---
layout: layouts/base.njk
title: "All Blogs"
permalink: /posts/
---

<div class="container">
	<h1>Archive</h1>

	{% set postslist = collections.posts %}
	{% include "source/pages/page-components/posts-list.njk" %}
</div><!-- end container -->
