<style>
	{% set css %}
	{# Reboot Library #}
	{% include "source/_includes/partial-css/_reboot.css" %}

	{# Compiled Bootstrap Library using PurgeCSS #}
	{% include "source/_includes/partial-css/_bootstrap-compiled.css" %}

	{# Custom site styles #}
	{% include "source/_includes/partial-css/styles.css" %}
	{% endset %}
	{{ css | minifyCSS | safe }}
</style>
